<style>
            body {
                font-family: 'Roboto', sans-serif;
                background-color: #f5f5f5;
            }
            
            .topbar {
                width: 99.6%;
                margin-left: -8px;margin-top: -8px;
                height: 59px;
                padding-right: 10px;
                padding-left: 10px;
                z-index: 1;
                background-color: rgb(41, 103, 204);
            }
            
            #logo {
                color: rgb(41, 103, 204);
                position: absolute;
                margin-top: -47px;
                margin-left: 20px;
                height: 35px;
                padding-top: 0px;
                padding-right: 6px;
                padding-left: 16px;
                padding-bottom: 0px;
                border-radius: 4px;
                font-size: 44px;
                background: white;
            }
            
            #search {
                position: absolute;
                background: rgb(255, 255, 255);
                width: 99.6%;
                margin-left: 82px;
                margin-top: -46px;
                padding-bottom: 20px;
                width: 200px;
                height: 20px;�px;
                padding-right: 10px;
                padding-left: 10px;
            }
            
            header {
                height: 200px;
                width: 95%;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: -170px;
                padding: 10px;
                z-index: 1;
                background-color: #00bcd4;
                box-shadow: 0px 3px 3px -2px #90a4ae;
            }
            
            header h1 {
                margin-top: 0px;
                color: #fff;
                font-size: 1.4em;
            }
            
            span {
                color: #006064;
            }
            
            .article {
                width: 75%;
                margin-right: auto;
                margin-left: auto;
                z-index: 2;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0px 2px 10px -3px #bdbdbd;
            }
            
            .article h1 {
                padding: 15px;
                color: #006064;
            }
            
            .article p {
                padding: 0 15px 15px 15px;
            }
            a:link, a:visited{
                color: white;
            }
            a:active {
                color: lightgrey;
            }
        </style>
